<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p> This site was create by Dhanush Hegde. It uses data from mapbox.com and darksky.net.</p>

        <img src="./img/robot.png" class="portrait">
        <p>{{name}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>